@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
address {
	font-style: normal;
}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?11b932e0365105912c8c150dc7211b80") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-telegraph"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-star"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-chat"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-arrow"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-arrow-long"]::before { 
		content: "\f105"; 
	} 

/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #000;
  font-family: "Inter";
  font-size: 0.9375rem;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
[class*=__container--big] {
  max-width: 85.625rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.title {
  line-height: 120%;
  font-weight: 900;
}
.ibg {
  position: relative;
}
.ibg img, .ibg iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.text {
  line-height: 160%;
}
.text p:not(:last-child) {
  margin-bottom: 0.4375rem;
}
.line {
  width: 100%;
  height: 0.0625rem;
  box-shadow: 0rem 0.25rem 0.6875rem rgba(0, 0, 0, 0.53);
  background-color: #666768;
}/* Generated by vite-plugin-svg-spritemap */
.title-block {
  max-width: 53.125rem;
  text-align: center;
  margin: 0 auto;
}
.title-block--big .title-block__title {
  line-height: 120%;
  font-weight: 900;
}
.title-block__title {
  line-height: 131.25%;
}
.title-block__title {
  font-weight: 600;
}
.title-block__title span {
  color: #004AAD;
}
.title-block__title:not(:last-child) {
  margin-bottom: 0.625rem;
}
.title-block__sub-title {
  line-height: 130%;
  font-weight: 500;
}/* Generated by vite-plugin-svg-spritemap */@media (width <= 20em){
  .title {
    font-size: 2.25rem;
  }
  main {
    padding-bottom: 2.5rem;
  }
  .title-block--big .title-block__title {
    font-size: 2.25rem;
  }
  .title-block__title {
    font-size: 1.5rem;
  }
  .title-block__sub-title {
    font-size: 1.125rem;
  }
}@media (width > 20em) and (width <= 76.875em){
  .title {
    font-size: clamp( 2.25rem , 2.11813186813125rem  +  0.6593406593vw , 2.625rem );
  }
  main {
    padding-bottom: clamp( 2.5rem , 1.18131868131875rem  +  6.5934065934vw , 6.25rem );
  }
  .title-block--big .title-block__title {
    font-size: clamp( 2.25rem , 2.11813186813125rem  +  0.6593406593vw , 2.625rem );
  }
  .title-block__title {
    font-size: clamp( 1.5rem , 1.324175824175rem  +  0.8791208791vw , 2rem );
  }
  .title-block__sub-title {
    font-size: clamp( 1.125rem , 0.99313186813125rem  +  0.6593406593vw , 1.5rem );
  }
}@media (width > 76.875em){
  .title {
    font-size: 2.625rem;
  }
  main {
    padding-bottom: 6.25rem;
  }
  .title-block--big .title-block__title {
    font-size: 2.625rem;
  }
  .title-block__title {
    font-size: 2rem;
  }
  .title-block__sub-title {
    font-size: 1.5rem;
  }
}